<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <title>Ajout Modele</title>
</head>

<body>
<div class="container my-5">
    <h3> Ajout Modèle</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/saveModele}" th:object="${ModeleForm}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="model" class="col-form-label">Nom Modèle</label>
                            <input type="text" th:field="*{libelle}" class="form-control"
                                   id="model" placeholder="nom modèle" />
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="/allModeles" class="btn btn-primary">
        <i class="fas fa-arrow-left  ml-2">  Back to List </i></a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>