<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <title>Update Voiture</title>
</head>

<body>
<div class="container my-5">
    <h3> Update Voiture</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/updateVoiture/{id}(id=${voiture.id})}" th:object="${voiture}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Série</label>
                            <input type="text" th:field="*{serie}" class="form-control"
                                   id="serie" placeholder="série" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Date Mise en Marche</label>
                            <input type="date" th:field="*{date_mise_en_marche}" class="form-control"
                                   id="date_mise_en_marche" placeholder="Date mise en Marche" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Modèle</label>
                            <select th:field="*{modele.id}" >
                                <option th:each="modele : ${listModele}"
                                        th:value="${modele.id}" th:text="${modele.libelle}"/>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Update ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="/allVoitures" class="btn btn-primary">
        <i class="fas fa-arrow-left  ml-2">  Back to List </i></a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>